@page "/Account/ForgotPasswordConfirmation"

@using Microsoft.Extensions.Options
@inject IOptions<SiteSettings> SiteSettings

<PageTitle>@SiteSettings.Value.SiteName - Forgot password confirmation</PageTitle>

<h1>Forgot password confirmation</h1>
<p role="alert">
    Please check your email to reset your password.
</p>
