@page "/Account/InvalidUser"

@using Microsoft.Extensions.Options
@inject IOptions<SiteSettings> SiteSettings

<PageTitle>@SiteSettings.Value.SiteName - Invalid user</PageTitle>

<h3>Invalid user</h3>

<StatusMessage />
