@page "/Account/InvalidPasswordReset"

@using Microsoft.Extensions.Options
@inject IOptions<SiteSettings> SiteSettings

<PageTitle>@SiteSettings.Value.SiteName - Invalid password reset</PageTitle>

<h1>Invalid password reset</h1>
<p role="alert">
    The password reset link is invalid.
</p>
