@page "/auth"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Options

@attribute [Authorize]

@inject IOptions<SiteSettings> SiteSettings

<PageTitle>@SiteSettings.Value.SiteName - Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>
