@page "/"

@using Microsoft.Extensions.Options
@inject IOptions<SiteSettings> SiteSettings

<PageTitle>@SiteSettings.Value.SiteName - Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
