@page "/"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Extensions.Options

@inject IOptions<SiteSettings> SiteSettings
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>@SiteSettings.Value.SiteName - Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello, world!</h1>
        Welcome to your new app.
    </Authorized>
    <NotAuthorized>
        @* Redirect to login handled in code *@
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        // If user is not authenticated, redirect to login
        if (authState.User.Identity?.IsAuthenticated != true)
        {
            NavigationManager.NavigateTo("Account/Login", forceLoad: false);
        }
    }
}
