@page "/not-found"
@layout MainLayout
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<FreeSpeakWeb.Resources.Pages.NotFound> Localizer

<h3>@Localizer["Title"]</h3>
<p>@Localizer["Message"]</p>