@page "/technology-credits"

<PageTitle>Technology Credits</PageTitle>

<h1>Technology Credits</h1>

<p>This application is built using the following technologies and packages:</p>

<div class="row">
    <div class="col-12">
        <h3>Frameworks & Platforms</h3>
        <ul>
            <li>.NET 10</li>
            <li>ASP.NET Core Blazor</li>
            <li>ASP.NET Core Identity</li>
        </ul>

        <h3>NuGet Packages</h3>
        <ul>
            <li>Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore (10.0.2) - <em>MIT License</em></li>
            <li>Microsoft.AspNetCore.Identity.EntityFrameworkCore (10.0.2) - <em>MIT License</em></li>
            <li>Microsoft.EntityFrameworkCore.Tools (10.0.2) - <em>MIT License</em></li>
            <li>Net.Codecrete.QrCodeGenerator (2.1.0) - <em>MIT License</em></li>
            <li>Npgsql.EntityFrameworkCore.PostgreSQL (10.0.0) - <em>PostgreSQL License</em></li>
        </ul>
        
        <h3>Frontend Libraries</h3>
        <ul>
            <li>Bootstrap 5</li>
            <li>Bootstrap Icons</li>
        </ul>

        <h3>Additional Credits</h3>
        <p>This project uses various open-source technologies and we are grateful to all contributors.</p>
    </div>
</div>

@code {
    // You can add code here to dynamically list packages if needed
}
