@inherits LayoutComponentBase
@layout FreeSpeakWeb.Components.Layout.MainLayout
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<FreeSpeakWeb.Resources.Account.Pages.Manage.ManageAccount> Localizer

<h1>@Localizer["ManageYourAccount"]</h1>

<div>
    <h2>@Localizer["ChangeYourAccountSettings"]</h2>
    <hr />
    <div class="row">
        <div class="col-lg-3">
            <ManageNavMenu />
        </div>
        <div class="col-lg-9">
            @Body
        </div>
    </div>
</div>
